//
// Custom Class
// --------------------------------------------------

//
// styles
// --------------------------------------------------


body.boxed #wrapper,
body.boxed header,
body.boxed footer {
    margin: auto;
    max-width: 1005px;
}
body.boxed {
	#wrapper {
	    margin: 30px auto !important;
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    border-radius: 6px;
		@media(max-width: 1020px) {
			margin: 0px !important;
		}
	}
}
body.smoothscroll #wrapper,
body.smoothscroll header,
body.smoothscroll footer {
    margin: auto;
    width: 100%;
}
body.smoothscroll {
	#wrapper {
	    margin: 0 !important;
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	}
}
body {
	font-size: 14px !important;
	line-height: 23px !important;
	#wrapper {
		border-top: $main-color-primary 4px solid;
		color: #666;
		font-family: 'Open Sans',Arial,sans-serif;
	    position: relative;
	    background-color: $body-boxed-color-bg;
	    overflow: hidden;
	    box-shadow: rgba(0,0,0,0.3) 0 0 6px;
	}
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	header {
		height: 180px;
		.area-left, .area-right {
		    height: 100%;
		}
		.area-left {
			.logo {
				.logo-img {
					padding-left: 15px;
					@media(max-width: 768px) {
						width:200px;
					}				
				}
			} /**./logo**/
			.rating {
				padding-left: 15px;
				padding-right: 15px;
				position: absolute;
				left: 15px;
				bottom: 10px;
				width: 100%;
				.rating-stars,
				.rating-title {
					padding-left: 0px;
					padding-right: 0px;
				}
				.rating-stars {
					width: 86px;
				}
				.rating-title {
					span {
						position: relative;
						bottom: -5px;
					}
				}
			} /**./rating**/
		} /**./area-left**/
		.navbartop {
		    background: none;
	    	border: none;
	    	min-height: 30px;
	    	margin-bottom: 0px;
	    	li {
				float: right;
	    		a {
	    			padding-top: 5px;
	    			padding-bottom: 5px;
	    		}
	    	}
	    	.container {
	    		padding-right: 15px;
	    		.navbar-nav {
	    			margin: 0px;
	    			margin-right: -15px;
	    		}
	    	}
			.link-language-mobile {
				width: fit-content;
			}
		} /**./navbartop**/
		.contactPhone {
			padding-right: 15px;
			font-size:15px;
		} /**./contactPhone**/
		.postalCode {
			padding-right: 15px;
			position: absolute;
			right: 15px;
			bottom: 10px;
			h5 {
				font-weight: 700;
				margin-bottom: 0px;
			}
		} /**./postalCode**/
	} /**./header**/
	.menu-body {
		padding-right: 0px;
		padding-left: 0px;
		.navbar-main {
			margin-bottom: 0px;
			border-radius: 0;
			li {
				border-right: #eee 1px solid;
			}
			li.active > a:hover {
				border-top: 0px;
			}
			li.active, li > a:hover {
				border-top: 2px $main-color-primary solid;
			}
			li {
				a {
					padding: 15px 26px;
					font-size: 14px;
				}
			}
			.navbar-header {
				padding-right: 15px;
				padding-left: 15px;
				.navbar-toggle {
					color: $main-color-secundary;
				}
				.navbar-toggle:hover {
					color: $main-color-primary;
				}
			} /**./navbar-header**/
			.navbar-profile-mobile {
				margin: 0px;
				li.dropdown {
					border-right: 0px;
					.dropdown-menu {
						background: #f8f8f8;
						font-size: 11px;
						position: absolute;
						top: 100%;
						z-index: 1000;
						min-width: 160px;
						background-clip: padding-box;
						padding: 2px 0;
						margin: 0;
						height: auto;
						li {
							border-top: #eee 1px solid;
							a {
								padding: 10px 26px !important;
							}
						}
						li.active, li > a:hover {
							border-top: 0px;
							color: #fff;
							background: $main-color-primary;
						}
					}
				}
				li.dropdown > a:hover {
					border-top: 0px;
				}
			} /**./navbar-profile-mobile**/
		} /**./navbar-main**/
	} /**./area-menu**/
	.slider-body {
		padding: 0px;
		.carousel.slide {
			width: 100%;
			max-height: 500px;
			height: 429px;
			.carousel-inner {
				width: 100%;
				height: 100%;
				.item {
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
					}
					.carousel-caption {
					    right: 20%;
					    padding-top: 140px;
					    padding-left: 60px;
					    padding-bottom: 30px;
					    text-align: left;
					    top: 0;
					    left: 0;
					    width: 360px;
					    height: 100%;
					    background-color: rgba(0, 0, 0, 0.5);
					    p {
					    	background-color: #000;
					    	width: -moz-fit-content;
							width: -webkit-fit-content;
							width: -ms-fit-content;
							width: -o-fit-content;
							padding: 5px;
							margin-bottom: 3px;
					    }
					}					
				}
			}
			.carousel-indicators {
			    bottom: 10px;
			    li {
			    	border: 1px solid $main-color-secundary;
			    }
			    li.active, li:hover {
			    	background: $main-color-primary;
			    }
			}
		}
	} /**./slider-body**/
	.callout-body {
		color: #fff;
		background: #252525;
		padding: 30px 0;
		h1 {
			margin: 0;
		}
	} /**./callout-body**/
	.section-page-body {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 0px;
		padding-right: 0px;
        @media(max-width: 768px) {
			padding-top: 20px;
			padding-bottom: 20px;
        }
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0 !important;
		}
	} /**./section-page-body**/
	.home-section1 {
		background: $main-color-primary;
		color: #fff;
		.area-left {
			padding-left: 0px;
			padding-right: 0px;
			h2 {
				margin: 0 0 32px 0;
			}
		}
		.area-right {
			padding-left: 15px;
			padding-right: 0px;
			position: relative;
			right: 0px;
			opacity: 1;
			text-align: center;
			text-align: -moz-center;
			text-align: -webkit-center;
			text-align: -ms-center;
			text-align: -o-center;
		}
	} /**./home-section1**/
	.home-section2, .photos-section2 {
		background: $main-color-secundary;
		color: #fff;
		padding: 30px 0;
		.area-left {
			padding-left: 0px;
			padding-right: 0px;
			@media(max-width: 768px) {
				padding-bottom: 15px;
			}
			h3 {
				margin: 0 0 8px;
				font-size: 1.8em;
			}
			p {
				margin: 0;
			}
		}
		.area-right {
			padding-left: 15px;
			padding-right: 0px;
		}
	} /**./home-section2, .photos-section2**/
	.home-section3 {
		font-size: 12px;
		cite::before {
		    content: "- ";
		}
		cite::after {
		    content: " -";
		}
		p.img-description {
			margin-top: -5px;
		}
	} /**./home-section3**/
	.home-section4 {
		color: #fff;
		.rating {
			.rating-btn {
				a {
					margin-top: 20px;
					margin-bottom: 20px;				
				}
				.divider {
					margin: 30px 0;
					border-top: #ddd 1px solid;
					border-bottom: #ddd 1px solid;
					height: 4px;
					margin-left: 15px;
					margin-right: 15px;
				}
			}			
		} /**./rating**/
		.cites {
			padding-left: 15px;
			.testimonial {
				margin-bottom: 60px;
				background: #F6F6F6;
				padding: 20px;
				font-size: 14px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-ms-border-radius: 6px;
				-o-border-radius: 6px;
				border-radius: 6px;
				-webkit-border-bottom-left-radius: 0;
				-moz-border-bottom-left-radius: 0;
				-ms-border-bottom-left-radius: 0;
				-o-border-bottom-left-radius: 0;
				border-bottom-left-radius: 0;
				i {
					color: $main-color-secundary;
				}
				p {
					color: #fff;
					text-shadow: #000 1px 1px 1px;
					margin-bottom: 0;
					.name-author {
						padding-left: 10px;
					}
				}
				.cites-item-comment {
					color: #000;
				}
			} /**./cites**/
			.cites-delivery-hours {
				p {
					margin-bottom: 0;
				}
			}
		} /**./cites**/
	} /**./home-section4**/
	.page-subheader {
		color: #fff;
		padding-left: 15px;
		padding-right: 15px;
		background-attachment: unset;
		background-position: unset;
		@media(max-width: 768px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		h1 {
			margin-bottom: 0;
		}
	} /**./page-subheader**/
	.page-subheader-map {
		height: 500px;
		padding: 0px;
		margin: 0px;
		@media(max-width: 768px) {
			height: 300px;
		}
	} /**./page-subheader-map**/
	.flyer-section1 {
		.content-btn {
			padding-left: 0px;
			padding-right: 0px;
			.btn_order_onlinea {
				float: unset;
				border-radius: 13px 13px 13px 13px !important;
				-moz-border-radius: 13px 13px 13px 13px !important;
				-webkit-border-radius: 13px 13px 13px 13px !important;
				-ms-border-radius: 13px 13px 13px 13px !important;
				-o-border-radius: 13px 13px 13px 13px !important;
			}
			.linea {
				background-color: $main-color-primary;
				float: unset;
				height: 3px;
				box-sizing: inherit;
			}		
		} /**./content-btn**/
		.content-figure {
			padding-left: 0px;
			padding-right: 0px;	
			figure {
				float: unset;
				margin: auto;
				padding-left: 0px;
				padding-right: 0px;
				img {
					width: 100%;
				}
			}
		} /**./content-figure**/
	} /**./flyer-section1**/
	.photos-section1 {
		.content-title {
			padding-left: 0px;
			padding-right: 0px;			
		}
		.content-slider {
			padding-left: 0px;
			padding-right: 0px;
			#carousel-custom {
				padding-left: 0px;
				padding-right: 0px;
			    margin: 20px auto;
				float: unset;
				.carousel-indicators {
				    margin: 10px 0 0;
				    overflow: auto;
				    position: static;
				    text-align: left;
				    white-space: nowrap;
				    width: 100%;
					text-align: center;
					text-align: -moz-center;
					text-align: -webkit-center;
					text-align: -ms-center;
					text-align: -o-center;	
					li {
					    background-color: transparent;
					    -webkit-border-radius: 0;
					    border-radius: 0;
					    display: inline-block;
					    height: auto;
					    margin: 0 !important;
					    width: auto;
						img {
						    display: block;
						    opacity: 0.5;
						    width: 100px;
						    height: 50px;
						}
					}
					li.active {
						img {
						    opacity: 1;
						}
					}
					li:hover {
						img {
						    opacity: 0.75;
						}
					}
				} /**./carousel-indicators**/
				.carousel-outer {
				    position: relative;
				    .carousel-inner {
					    .item {
							text-align: center;
							text-align: -moz-center;
							text-align: -webkit-center;
							text-align: -ms-center;
							text-align: -o-center;				    	
					    }
				    }
				} /**./carousel-outer**/
			} /**./#carousel-custom**/
		} /**./content-slider**/
	} /**./photos-section1**/
	.info-section {
		.info-section1 {
			margin-bottom: 40px;
		} /**./info-section1**/
		.info-section2 {
			p {
				margin-bottom: 0px;
			}
			.details-info {
				margin-top: 20px;
			}
		} /**./info-section2**/
	} /**./info-section**/
	.coupons-section1 {
		padding-bottom: 30px;
		hr {
			margin-top: 50px;
		}
	} /**./coupons-section1**/
	.coupons-section2 {
		padding-top: 0px;
		.content-coupon,
		.myModalCoupon {
			.print:hover {
				color: $main-color-secundary !important;
			}
			.coupon {
				float: unset;
				tbody {					
					tr {
						td {
							padding-top: 15px;
							padding-bottom: 15px;
							padding-left: 10px;
							padding-right: 10px;
						}							
					}
					.area-top {
						border-bottom: 1px solid #eeeeee;
						figure {
							img {
								display: inline-block;
								display: -moz-inline-block;
								display: -webkit-inline-block;
								display: -ms-inline-block;
								display: -o-inline-block;
							}
						}
					}
					.area-bottom {
						p {
							margin-top: 10px;
						}
					}
				}
			}
		} /**./content-coupon, .myModalCoupon**/
		.myModalCoupon {
			.coupon {
				tbody {
					.area-bottom {
						a {
							cursor: unset;
						}
					}
				}
			}
		}
		.content-coupon {
			.coupon {
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid #eeeeee;
			}
		}
	} /**./coupons-section2**/
	.login-section {
		.form-inline {
			.content-radios-options {
				.radio,
				.checkbox {
				  @media(max-width: 768px) {
				    position: relative;
				    display: inline-block;
				    margin-top: 0 !important;
				    margin-bottom: 0;
				    vertical-align: middle;
				  }
				}
			}			
		}
	} /**./login-section**/
	.reservation-section {
        .carousel-outer {
            position: relative;
            .carousel-inner {
              .item {
              text-align: center;
              text-align: -moz-center;
              text-align: -webkit-center;
              text-align: -ms-center;
              text-align: -o-center;              
              }
            }
        } /**./carousel-outer**/
	} /**./reservation-section**/
	.blog-section1 {
		padding-bottom: 20px;
		.prev-article {
		    border-bottom: #ddd 1px solid;
		    padding-bottom: 30px;
		    margin-bottom: 30px;
			@media(max-width: 768px) {
			    padding-bottom: 30px;
			    margin-bottom: 10px;
			}
	    	span.info {
			    border-top: #ddd 1px solid;
			    display: block;
			    margin-top: 20px;
			    padding-top: 20px;
			    font-size: 11px;
			    color: #333;
				@media(max-width: 768px) {
			    	margin-top: 0;
			    	padding-top: 5px;
			    	border-top: 0;
				}
			    .user-name-post {
			    	color: $main-color-primary;
			    }
			}
		    .blog-prev-date {
		    	span.date {
					text-align: center;
					font-size: 60px;
					display: inline-block;
					line-height: 50px;
					color: #313131;
					@media(max-width: 768px) {
						font-size: 45px;
					}
					small {
						text-transform: uppercase;
						display: block;
						font-size: 14px;
						line-height: 20px;
						@media(max-width: 768px) {
							font-size: 12px;
						}
					}
		    	}
		  	} /**./blog-prev-date**/
			.blog-prev-post {
				h2.article-title {
				    font-size: 25px;
				    line-height: 30px;
				    text-transform: uppercase;
				    margin: 0 0 32px 0;
					@media(max-width: 768px) {
				    	margin: 0;
					}
				}
				.content-btn-add-comment {
					margin-top: 30px;
					margin-bottom: 30px;
				}
			} /**./blog-prev-post**/	
		} /**./prev-article**/
	} /**./blog-section1**/
	.blog-section2 {
		padding-top: 20px;
		.content-panel-topic {
		    padding-left: 10%;
		    padding-right: 10%;
			@media(max-width: 768px) {
			    padding-left: 15px;
			    padding-right: 15px;
			}
			.content-comments-list {
				li {
					padding: 10px 15px;
					@media(max-width: 768px) {
					    padding-bottom: 55px;
					    border-bottom: #eee 1px solid;
					}
					div {
						display: inline-block;
					}
					.icon {
						width: 7%;
					}
					.menssage {
						width: 70%;
						small {
						    font-size: 80%;
						}
						@media(max-width: 768px) {
						    width: 100%;
						}
					}
					.btns {
						@media(max-width: 768px) {
						    width: 100%;
						}
					}
				}
			}
		}
	} /**./blog-section2**/
	footer {
		padding-left: 0px !important;
		padding-right: 0px !important;
		color: #777;
		vertical-align: bottom;
		background-color: #2B2B2B;
		border-top: #252525 5px solid;
		hr {
			margin: 0;
			padding: 0;
			border-top: #1a1a1a 1px solid;
			border-bottom: #3d3d3d 1px solid;
		} /**./hr**/
		.footer-content {
			li {
				p {
					margin: 0;					
					a {
					    color: #777;
					    -webkit-transition: all .2s ease 0;
					    -moz-transition: all .2s ease 0;
					    -o-transition: all .2s ease 0;
					    transition: all .2s ease 0;
					}
					a:hover {
					    color: $main-color-primary;
					    text-decoration: none;
					}
				}
				small {
				    font-size: 11px;
				}
			} /**./li**/
			.spaced {
			    padding: 60px 15px;
				@media(max-width: 768px) {
			    	padding: 20px 15px;
				}
			    h4 {
			    	color: #fff;
			    }
				li {
					position: relative;
					padding: 6px 0;
					border-bottom: 1px solid rgba(255,255,255,0.1);
				}
			} /**./spaced**/
			.footer4 .footer-content-about,
			.footer-content-info {
				padding: 40px 15px;
				height: 400px;
				background-color: #252525;
				@media(max-width: 768px) {
					height: auto;
				}
			} /**./footer-content-info**/
			.footer-content-about {
				.footer-content-about-info {
					color: #fff;
					margin-top: 30px;
					font-size: 12px;
					h4 {
						font-size: 12px;
					}
				} /**./footer-content-about-info**/
			} /**./footer-content-about**/
			.footer-content-interesting {
				@media(max-width: 991px) {
					padding-bottom: 20px;
				}				
			} /**./footer-content-interesting**/
			.footer-content-payment {
				@media(max-width: 991px) {
					padding-top: 20px;
				}				
			} /**./footer-content-payment**/
			.footer-content-about,
			.footer-content-interesting {
				li {
					border-bottom: 0;
					padding: 0;
					p {				
						a {
						    color: if($boolean-footer-li-color-secundary, #fff, $main-color-secundary);
						}
						a:hover {
						    color: if($boolean-footer-li-color-primary, #fff, $main-color-primary);
						}
					}
				}				
			} /**./.footer-content-about, footer-content-interesting**/
		} /**./footer-content**/
		.copyright {
			background-color: #252525;
			padding: 20px 0;
			b {
				font-size:15px;
			}
			img {
				width:60px;
			}
		} /**./copyright**/
	} /**./footer**/
}
/***panels****/
.panel,
.panel-heading {
    border-radius: unset !important;
}
.panel {
	.panel-heading {
		margin: 0;
		background: #F5F5F5;
		background-color: transparent;
		background: -webkit-linear-gradient(top,white 1%,#f9f9f9 98%) repeat scroll 0 0 transparent;
		background: linear-gradient(to bottom,white 1%,#f9f9f9 98%) repeat scroll 0 0 transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		border-bottom: rgba(0,0,0,0.07) 1px solid;
		padding: 15px 20px;
		font-size: 20px;
		font-weight: 400;
		h3 {
			font-size: 20px;
		}
	}
}
/***modals****/
.modal {
	.modal-dialog {
		.modal-content {
			.modal-header {
				background-color: $main-color-primary;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				.print,
				.close {
					color: #fff;
				}
			}
			.modal-body {
				display: inline-table;
				display: -moz-inline-table;
				display: -webkit-inline-table;
				display: -ms-inline-table;
				display: -o-inline-table;
			}
		}
	}
}
/***borders****/
.border-lines-dotted {
	border-style: solid;
	border-color: $main-color-primary;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
}
/***rating****/
.rating {
	.rating-stars {
		i {
			color: #F9BC06;
		}
	}
	.rating-title {
		font-size:11px;
		a {
			text-decoration: none;
		}
	}
}
/***carousel****/
.carousel.slide {
    .carousel-inner {
        .item {
		  opacity: 0;
		  transition-property: opacity;
        }
    }
    .carousel-inner {
        .active {
		  opacity: 1;
        }
    }
	.carousel-control {
		i {
		    position: absolute;
		    top: 50%;
		    margin-top: -10px;
		    z-index: 5;
		    display: inline-block;
	    	color: $main-color-primary;
		}
	}
	.left.carousel-control {
		i {
		    left: 25%;
		    margin-left: -5px;			
		}
	}
	.right.carousel-control {
		i {
		    right: 25%;
		    margin-right: -5px;			
		}
	}
}
// tansition for item carousel
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel .carousel-inner > .item.next,
    .carousel .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel .carousel-inner > .item.prev,
    .carousel .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel .carousel-inner > .item.next.left,
    .carousel .carousel-inner > .item.prev.right,
    .carousel .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/***parallax****/
.parallax {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% -138px;
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;	
	.parallax-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.6);
		z-index: 1;
	}
	.parallax-content {
		position: relative;
		z-index: 2;
	}
}
/***hr****/
hr.double-margins {
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	height: 2px;
}
/***inputs****/
label {
    font-weight: 300 !important;
}
.form-control {
    height: 38px !important;
    padding: 0 12px !important;
    border: #e6e6e6 2px solid !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.form-control:focus {
    border: $main-color-tertiary 2px solid !important;
}
textarea.form-control {
    padding: 12px !important;
    height: auto !important;
}
.radio, .checkbox {
	color: #999;
	font-size: 15px;
	position: relative;
	margin-right: 20px;
}
.radio span, .checkbox span {
	position: relative;
	padding-left: 20px;
}
.radio span:after, .checkbox span:after {
	content: '';
	width: 15px;
	height: 15px;
	border: 3px solid;
	position: absolute;
	left: 0;
	top: 1px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.radio span:after {
	border-radius: 100%;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], input[type="radio"], input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 0;
	position:absolute;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span:before {
	border-radius: 100%;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.radio input[type="radio"]:checked + span, .checkbox input[type="checkbox"]:checked + span{
	color: $main-color-primary;  
}
.radio input[type="radio"]:checked + span:before, .checkbox input[type="checkbox"]:checked + span:before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	background: $main-color-primary;
	left: 5px;
	top: 6px;
}
//=success
.radio input[type="radio"]:checked.success + span, .checkbox input[type="checkbox"]:checked + span{
	color: $brand-success;  
}
.radio input[type="radio"]:checked.success + span:before, .checkbox input[type="checkbox"]:checked + span:before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	background: $brand-success;
	left: 5px;
	top: 6px;
}
//=info
.radio input[type="radio"]:checked.info + span, .checkbox input[type="checkbox"]:checked + span{
	color: $brand-info;  
}
.radio input[type="radio"]:checked.info + span:before, .checkbox input[type="checkbox"]:checked + span:before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	background: $brand-info;
	left: 5px;
	top: 6px;
}
//=warning
.radio input[type="radio"]:checked.warning + span, .checkbox input[type="checkbox"]:checked + span{
	color: $brand-warning;  
}
.radio input[type="radio"]:checked.warning + span:before, .checkbox input[type="checkbox"]:checked + span:before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	background: $brand-warning;
	left: 5px;
	top: 6px;
}
//=danger
.radio input[type="radio"]:checked.danger + span, .checkbox input[type="checkbox"]:checked + span{
	color: $brand-danger;  
}
.radio input[type="radio"]:checked.danger + span:before, .checkbox input[type="checkbox"]:checked + span:before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	background: $brand-danger;
	left: 5px;
	top: 6px;
}
/***btn****/
.btn {
	border-radius: 0 !important;
}
.btn-primary {
	background: $main-color-primary !important;
	color: #fff;
	border-color: $main-color-primary !important;
}
.btn-primary:hover {
	background: $main-color-secundary !important;
	color: #fff;
	border-color: $main-color-tertiary !important;
}
/***red-socials****/
.twitter { 
	a {
		color: $twitter-color !important;
		}
	}
.twitter > a:hover {
	color: #fff !important;
	background: $twitter-color !important; 
}
.facebook { 
	a {
		color: $facebook-color !important;
		}
	}
.facebook > a:hover {
	color: #fff !important;
	background: $facebook-color !important; 
}
.google-plus { 
	a {
		color: $google-plus-color !important;
		}
	}
.google-plus > a:hover {
	color: #fff !important;
	background: $google-plus-color !important; 
}
.instagram { 
	a {
		color: $instagram-color !important;
		}
	}
.instagram > a:hover {
	color: #fff !important;
	background: $instagram-color !important; 
}
.pinterest { 
	a {
		color: $pinterest-color !important;
		}
	}
.pinterest > a:hover {
	color: #fff !important;
	background: $pinterest-color !important; 
}
.youtube { 
	a {
		color:$youtube-color !important;
		}
	}
.youtube > a:hover {
	color: #fff !important;
	background: $youtube-color !important; 
}
/***./red-socials****/